* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
  min-height: 100%;
  position: relative;
}

body{
    background-image: url('../assets/img/storm_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

/* .imgInicio{
    width: 200px;
    height: 300px;
    object-fit: cover;
} */

.imgInicio{
  width: 200px;
  height: 300px;
  object-fit: cover;
  z-index: 1;
}

.enBiblioteca{
  width: 180px;
  height: 180px;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  top: 70px;
}

.card {
    border: none;
    background: rgba(34, 34, 34, 0);
}

.modalColor{
    background-color: rgb(34, 37, 45);
    width: 500px;
}

.botonModal{
    margin: 0 auto;
    background-color: rgb(45, 47, 47);
    border: none;
}

.botonComprar{
  background-color: rgb(63, 66, 66);
  order: none;
}

.botonCarrito{
  background-color: rgb(16, 78, 154);
  order: none;
}

.botonApagado{
  background-color: rgb(64, 121, 206);
}

.botonOscuro{
  margin: 0 auto;
  background-color: rgb(63, 66, 66);
  border: none;
}

.botonCarrito:hover, .botonComprar:hover, .botonModal:hover {
    background-color: rgb(64, 121, 206);
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  /************************************************
               MEDIA QUERIES MAIN
  ************************************************/
  .h1Tittle {
    font-size: 1.2rem;
  }
  .h2Tittle {
    font-size: 1.2rem;
  }
  .h4Tittle {
    font-size: 1rem;
  }
  .parrafo {
    font-size: 1rem;
  }
}
header {
  background: linear-gradient(to right, black, #212226);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
header .nav {
  padding: 0px;
}
header .nav img {
  width: 50px;
  height: 50px;
}
header .nav img:hover {
  background-color: rgb(0, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 255, 255);
}
header .nav .lista {
  width: 100%;
}
header .nav .lista li {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: Shadows, sans-serif;
  font-weight: 400;
  margin-right: 10px;
}
header .nav .lista li .active {
  background: linear-gradient(to right, rgba(11, 66, 121, 0.5921568627), rgba(90, 113, 147, 0.399));
  border-radius: 5px;
}
header .navbar-dark .navbar-nav .nav-link:hover {
  background: linear-gradient(to right, rgba(11, 66, 121, 0.5921568627), rgba(90, 113, 147, 0.399));
  border-radius: 5px;
  animation: mover 1.2s ease-in;
}
@keyframes mover {
  15% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  65% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

.divFooter {
    background: linear-gradient(to right, black, #212226);
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
.divFooter img {
  width: 30px;
  height: 40px;
  margin-right: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.seccionJuegos{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
}

.tituloLista{
  background: linear-gradient(to right, rgb(31, 33, 35), #32445c); 
  border-radius: 5px;
}

.listaJuego{
  background: linear-gradient(to right, rgb(31, 33, 35), #32445c); 
  border-radius: 5px;
}

.buscarJuego{
  width: 300px;
}

.navJuego{
  background: #9699a800;
}

.alertaCompra{
  background-color:rgb(49, 157, 69);
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 0px;
}

.parrafoDescripcion{
  margin-left: 15px;
}

.spanParrafo{
  color: #36c6b1;
}

header .nav .imagenCarrito{
  height: 25px;
  width: 25px;
}
